<?xml version="1.0"?>

<launch>
    <arg name="debug" default="false"/>
    <arg name="prefix" value="" unless="$(arg debug)"/>
    <arg name="prefix" value="gdb -ex run --args" if="$(arg debug)"/>
    <arg name="port" default="ttyARD"/>
    <arg name="baud" default="57600"/>
    <arg name="reconfig" default="false"/>

    <node name="sensor_hub_node" pkg="sensor_hub" type="sensor_hub_node" ns="watt" output="screen">
        <param name="port" value="$(arg port)"/>
        <param name="baud" value="$(arg baud)"/>
    </node>

    <group if="$(arg reconfig)">
        <node pkg="rqt_reconfigure" type="rqt_reconfigure" name="rqt_reconfigure"/>
    </group>
</launch>
